<div class="container">
  <h1><span style="color: rgb(223, 76, 62)">Oops! Something went wrong.</span></h1>
  
  {{#if error_msg}}
    <div class="error">
        Error: {{error_msg}}
    </div>
  {{/if}}
</div>