<link rel="stylesheet" href="css/explore.css">
<div class="container">
  <h1>Explore.</h1>
  
  <div class="col-md-12 col-lg-12">
    {{#each books}}
      <div class="book-item col-md-3 col-lg-3 col-xl-3">
        <div class="book-container">
          <img src={{this.thumbnail}} alt="Book cover image">
          <div class="book-desc">
            <em>{{this.title}}</em><br>
            by {{this.author}} <br>
            <small>Owned by <a href="#"><span style="color: rgb(41, 156, 56);">{{this.owner}}</span></a></small>
          </div>
          
          <button type="button" class="btn btn-primary">Propose trade</button>
        </div>
        </div>
    {{/each}}
  </div>
</div>