<div class="container">
  <div class="col-md-6 col-lg-6">
    <h2>Add a book.</h2>
    <form method="post" action="/users/mybookshelf/books">
      <div class="form-group">
        <label>Book title</label>
        <input type="text" class="form-control" placeholder="Book title" name="bookTitle">
      </div>
      <button type="submit" class="btn btn-success">Add book</button>
    </form>
  </div>
</div>