<link rel="stylesheet" href="../css/settings.css">
<div class="container">
  <h1><i class="fa fa-align-left" aria-hidden="true"></i> Update your profile information.</h1>
  {{#if error_msg}}
  <div class="error">
    <strong>Error: {{error_msg}}</strong>
  </div>
  {{/if}}
  {{#if errors}}
    {{#each errors}}
      <div class="error">
        {{msg}}
      </div>
    {{/each}}
  {{/if}}
  {{#if success_msg}}
    <div class="success">
        {{success_msg}}
    </div>
  {{/if}}
  <div class="section col-md-6 col-lg-6">
    <h2>Change your real name</h2>
    <p><span style="color: rgb(144, 144, 144)">(this does not effect your username)</span></p>
    <form method="post" action="/users/settings/setname">
      <div class="form-group">
        <label>Provide your first name</label>
        <input type="text" class="form-control" placeholder="First Name" name="firstName">
        <label>Provide your last name</label>
        <input type="text" class="form-control" placeholder="Last name" name="lastName">
      </div>
      <button type="submit" class="btn btn-success">Save name changes</button>
    </form>
  </div>
  
  <div class="section col-md-6 col-lg-6">
    <h2>Set your location</h2>
    <form method="post" action="/users/settings/setlocation">
      <div class="form-group">
        <label>Provide a city</label>
        <input type="text" class="form-control" placeholder="City" name="city">
        <label>Provide a State</label>
        <input type="text" class="form-control" placeholder="State" name="state">
      </div>
      <button type="submit" class="btn btn-success">Save location changes</button>
    </form>
  </div>
  
  <div class="section col-md-6 col-lg-6">
    <h2>Add a bio</h2>
    <form method="post" action="/users/settings/setbio">
      <div class="form-group">
        <label>Provide a description about yourself.</label>
        <textarea rows="4" cols="50" placeholder="Write about yourself!" name="bio"></textarea>
      </div>
      <button type="submit" id="last" class="btn btn-success">Save bio changes</button>
    </form>
  </div>
</div>