h2 {
  color: #496086;
}

.invisible-form input {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.invisible-form {
  margin-top: -20px;
}

.book-item {
  display: inline-block;
  background-color: white;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.58);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.58);
}

  .book-desc {
    margin-top: 5px;
    padding-left: 10px;
    max-width: 121px;
  }

.section {
  width: 100%;
  margin-bottom: 20px;
}

.collection {
  border: thin solid rgb(114, 156, 205);
  border-top: thin solid rgb(51, 78, 97);
  color: rgb(26, 60, 71);
  border-radius: 0px 0px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: rgb(200, 168, 156);
  border-left: thin solid rgb(168, 168, 168);
  -webkit-box-shadow: inset 1px 1px 7px 1px rgba(0,0,0,0.68);
  -moz-box-shadow: inset 1px 1px 7px 1px rgba(0,0,0,0.68);
  box-shadow: inset 1px 1px 7px 1px rgba(0,0,0,0.68);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

  .btn-danger {
    width: 100%;
    border-radius: 0px;
    margin-top: 5px;
  }

.section-header {
  font-family: 'Abril Fatface', cursive;
  border-top: thin solid rgb(168, 168, 168);
  border-left: thin solid rgb(168, 168, 168);
  width: 100%;
  background-color: rgb(64, 100, 124);
  height: 80px;
  margin-bottom: -10px;
  border-radius: 5px 5px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 1px;
}

  .trade-item {
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: thin solid rgb(142, 176, 185);
  }
  
    .btn-warning, .btn-primary {
      width: 100%;
    }
    
    .btn-warning {
      margin-top: 20px;
      margin-bottom: 10px;
      color: rgb(125, 77, 64);
    }
    
    .btn-primary {
      color: rgb(183, 217, 252);
      margin-bottom: -15px;
    }
    

  #white-text {
    color: white !important;
  }

#bookshelf {
  border-bottom: 8px solid #88cc81;
  border-left: 2px solid #6eaa68;
}

#explore {
  border: none !important;
}

@media (max-width: 994px) {
  .navbar-brand {
    font-size: 20px;
  }
  
  #white-text {
    font-size: 20px;
  }
}