input {
  margin-top: 5px;
  margin-bottom: 10px;
}

#last {
  margin-bottom: 25px;
}

#settings {
  border-bottom: 8px solid #88cc81;
  border-left: 2px solid #6eaa68;
}

#explore {
  border: none !important;
}

textarea {
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 5px;
}