html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow-x: hidden;
  background-color: white;
}

#signup {
  margin-left: 10px;
}

h1, h2 {
  font-family: 'Playfair Display SC', serif;
  color: rgb(68, 68, 68);
}

h3, ol {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(105, 105, 105);
}

ol {
  font-size: 17px;
}

body {
 overflow-y: hidden;
}

label {
  color: rgb(121, 121, 121);
  font-weight: 300;
}

#logo {
  height: 50px;
  width: 50px;
  margin-top: -17px;
}

#explore {
  border-bottom: 8px solid #88cc81;
  border-left: 2px solid #6eaa68;
}

.icon-bar {
  background-color: white !important;
}

.navbar-toggle {
  background-color: #114B5F !important;
}

.navbar-toggle:hover {
  background-color: #208e6d !important;
}

.navbar-default {
  padding-top: 10px;
  height: 70px;
  background-color: #1A936F;
  border-radius: 0px;
  border-top: thin solid black;
}

.navbar-collapse, .navbar-default {
  z-index: 1;
  border-left: none;
  border-right: none;
  background-color: #1A936F;
}

.navbar-collapse {
  padding-left: 20px;
}
 
.navbar-brand, .navbar-nav i, .navbar-nav a, .navbar-default {
  color: #C6DABF !important;
  transition: 0.2s;
}

.navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
}

.navbar-nav a:hover {
  color: #9fbf93 !important;
}

.navbar-nav i {
  margin-right: 7px;
}

.activated {
  border-top: 2px solid #6CCFF6;
  border-bottom: 10px solid red;
}

.error {
  color: rgb(204, 69, 69);
  margin-bottom: 5px;
}

.success {
  color: rgb(71, 168, 62);
  margin-bottom: 5px;
}

@media (max-width: 994px) {
  #brand {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  
  #white-text {
    font-size: 20px;
  }
}

@media (max-width: 755px) {
  #brand {
    visibility: visible;;
  }
  
}
